{# Menu de navigation du site #}

<header>
    <div id="logo">
        <img src="{{ asset('img/logo.png') }}" alt="img_logo" id="img_logo"/>
        <h1>BroHazard</h1>
    </div>

    <nav>
        <ul class="nav_menu" id="main_menu">
            <li>
                <a href="{{ path('tcs_core_homepage') }}">Accueil</a>
            </li>
            <li>
                <a href="#">Streams</a>
                <ul class="dropdown_menu">
                    <li><a href="{{ path('tcs_core_stream', {'streamer' : 'Drilliak'}) }}">Drilliak</a></li>
                    <li><a href="{{ path('tcs_core_stream', {'streamer' : 'Rolesafe'}) }}">Rolesafe</a></li>
                    <li><a href="{{ path('tcs_core_stream', {'streamer' : 'Nekaator'}) }}">Nekaator</a></li>
                </ul>
            </li>
            <li>
                <a href="{{ path('tcs_core_articles', {'sort' : 'activity'}) }}">Articles</a>
            </li>
            <li>
                <a href="#">À propos</a>
            </li>
        </ul>
    </nav>

    <div id ="authenticate">
        {{  render(controller("FOSUserBundle:Security:login")) }}
    </div>
</header>